@charset "utf-8";


@import "strap/__init"; // Very important STRAP's initializing

@import "strap/strap-lib/misc/normalize";

// Other stuff
@import "strap/strap-lib/ui/_grid";
@import "strap/strap-lib/ui/_typography";
@import "strap/strap-lib/ui/_helpers";

@import "strap/strap-lib/ui/_tables";

@import "strap/strap-lib/ui/_icons";
@import "strap/themes/strap-ui/ui/icons/_entypo";


// Theme
@import "strap/strap-lib/ui/_buttons";
@import "strap/themes/strap-docs/_init";




html {
	min-height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;

	color: $TEXT_COLOR;
	font-family: $MAIN_FONT_FAMILY;
}

#content {
	width: 100%;
	margin: auto;
}




a {
	@include link-style($LINK_COLOR);

	&.Actions {
		@include unselectable;
		
		border-bottom: 1px dashed;
		cursor: default;
		text-decoration: none;
		line-height: 1.3em;

		&.Opened {
			border:none;
		}
	}
	&.Iconed {
		text-decoration: none;
		border: none;

		span {
			text-decoration: underline;
		}
	}
}





body {
	#content .Container > h2 {
		color: #fff;
		background: $THEME_LAST_COLOR;
		outline: gutter(0.75) solid $THEME_LAST_COLOR;
	}
}

#strap-on-logo {
	background: $THEME_DARK_COLOR;

	padding: line(4) 0 line(6);

	h1 {
		text-shadow: shadow-steps(1, 1, darken($THEME_DARK_COLOR, 8%), 0, 4);
		@include font-size(6em, 0.75);

		color: #fff;
		margin: line(2) 0 line(1);


		b {
			margin: 0 -.1em;
			@include font-size(4em);
			line-height: 0;
		}
	}
	h2 {
		$color: $THEME_LAST_COLOR;
		display: inline-block;
		color: #fff;


		background: $color;
		outline: gutter(0.75) solid $color;
	}

	.i100500n {
		opacity: 0;
		height: 0;
		position: relative;
		overflow: hidden;

		font-weight: normal;
		@include font-size(1rem);
		text-transform: uppercase;
		@include transition(all ease-out $ANIMATION_TIME);


		text-align: center;
		color: #fff;

		&.Active {
			opacity: 1;
			height: 3em;
		}

		span {
			@include font-size(2rem);
			font-weight: bold;
			width: 1.5em;
			display: inline-block;
			text-align: right;
		}
	}
}


.Content.Colored {
	@include transition(all .3s);


	text-align: center;
	padding: line(0.5) 0;
	width: 100%;
	background: #ddd;
	cursor: default;
	outline: #aaa solid 1px;


	color: #555;

	&:hover {
		@include box-shadow(rgba($THEME_BRIGHT_COLOR, 0) 1px 1px 0);


		outline: $THEME_BRIGHT_COLOR solid 1px;
		background: lighten($THEME_BRIGHT_COLOR, 20%);

		@if (lightness(lighten($THEME_BRIGHT_COLOR, 20%)) > 50%) {
			color: darken($THEME_BRIGHT_COLOR, 30%);
		}@else {
			color: #fff;
		}
	}

	.Content.Colored {
		background: #ccc;

		&:hover {
			background: lighten($THEME_BRIGHT_COLOR, 40%);
			color: $THEME_BRIGHT_COLOR;
		}
	}
}

i[title],
b[title] {
	border-bottom: 1px dotted;
}



ul.NoStyle.All {
	cursor: default;

	.Open {
		color: #888;
	}
	li {
		margin-bottom: line(0.25);

		span.Actions.ShowMore {
			display: block;
		}
	}
}

@include breakpoint(phone landscape) {
	#strap-on-logo {
		text-align: center;
	}
}
@include breakpoint (phone) {
	#strap-on-logo {
		h1 {
			line-height: 1;

			margin-bottom: line(4);
		}
	}
}

pre[class*="language-"].Compiled {
	background: #ECF0F5;
}

#icons-list {
	.Content {
		position: relative;
		z-index: 1;
		overflow: hidden;


		i {
			z-index: 4;
			@include font-size(24px);
			@include transition(color $ANIMATION_TIME);
			display: block;
		}

		code {
			position: relative;
			opacity: 0;
			@include transition(opacity $ANIMATION_TIME);
			@include font-size(12px);
		}

		&:hover {
			overflow: visible;
			z-index: 2;

			i {
				color: $THEME_DARK_COLOR;
			}

			code {
				opacity: 1;
				z-index: 2;
			}
		}
	}

}