body {
	background: #f1f1f1;


	> header,
	> footer {
		@include transition(box-shadow ease-out .3s);

		background: darken($THEME_DARKEST_COLOR, 3%);




		position: relative;
		padding: line(1.25) 0;
		width: 100%;


		z-index: 10;

		ul.Horizontal {
			@include font-size($H4_FONT_SIZE);
		}

		a {
			text-shadow: darken($THEME_DARKEST_COLOR, 10%) -1px -1px 1px;
			@include link-style(desaturate(lighten($THEME_DARKEST_COLOR, 30%), 50%), #fff);
			font-weight: bold;
			text-decoration: none;
			@include transition(color ease-out .3s);
		}

		&.Stick {
			@include box-shadow(rgba(#000, .5) 0 0px 20px);
		}
	}

	> header {
		@include box-shadow(rgba(#fff, .1) 0 1px 0px);
		color: $THEME_BRIGHTEST_COLOR;


		@include all-headers {
			@include text-shadow(darken($THEME_DARKEST_COLOR, 20%) 2px 2px 0px);
		}
	}
	> footer {
		margin-top: line(2);
		padding: line(2) 0;
		color: desaturate(lighten($THEME_DARKEST_COLOR, 40%), 50%);
		text-shadow: darken($THEME_DARKEST_COLOR, 10%) -1px -1px 0;

		@include all-headers {
			@include text-shadow(darken($THEME_DARKEST_COLOR, 20%) 2px 2px 0px);
		}

		a {
			border-bottom: 1px solid;
		}
	}
	> .Container {

	}
}
