// Default theme config

//
// 5 COLORS THEME
//
$THEME_BRIGHTEST_COLOR: #807E0D;
$THEME_DARKEST_COLOR: #421800;

$THEME_BRIGHT_COLOR: #0A7BBF;
$THEME_DARK_COLOR: #730000;

$THEME_LAST_COLOR: #BF1316;


$THEME_BRIGHTEST_COLOR: #F2D399;
$THEME_DARKEST_COLOR: #2A3140;

$THEME_BRIGHT_COLOR: #F29863;
$THEME_DARK_COLOR: #A63737;

$THEME_LAST_COLOR: #D95F43;




//$THEME_BRIGHTEST_COLOR: #F2F2F2;
//$THEME_DARKEST_COLOR: #3C3F40;
//
//$THEME_BRIGHT_COLOR: #6CCED9;
//$THEME_DARK_COLOR: #389BA6;
//
//$THEME_LAST_COLOR: #D9A13B;
